<div class="col-md-4" style="margin-left: 30%;border-radius: 10px;border:solid 1px;margin-top: 20px">
        <div class="row col-sm-15">
            <div>
              <p class="text-center" style="font-size: x-large;">Register Supplier</p>
              <form [formGroup]="supplierForm" (ngSubmit)="onSubmit(supplierForm)">
                    <div class="form-group form-group-sm col-sm-12">
                            <div class="row">
                                <label for="supplierName" class="col-sm-5 col-form-label">Supplier Name</label>
                                <div class="col-sm-7">
                                        <input type="text" formControlName="supplierName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.supplierName.errors }" />
                                        <div *ngIf="submitted && f.supplierName.errors" class="invalid-feedback">
                                            <div *ngIf="f.supplierName.errors.required">Supplier Name is required</div>
                                        </div>
                                </div>
                            </div>
                        </div>                 
                  <!-- <div class="form-group form-group-sm col-sm-12">
                        <div class="row">
                            <label for="formGroupTypeOfBox" class="col-sm-5 col-form-label">Type of Box</label>
                            <div class="col-sm-7">
                                    <mat-form-field style="width: 98%;">
                                            <mat-select formControlName="formGroupTypeOfBox" required>
                                              <mat-option *ngFor="let animal of animals" [value]="animal.id">
                                                {{animal.boxQuantity}}
                                              </mat-option>
                                            </mat-select>-->
                                            <!-- <mat-error *ngIf="f.formGroupTypeOfBox.errors.required">Please choose an animal</mat-error> 
                                            <div *ngIf="submitted && f.formGroupTypeOfBox.errors" class="invalid-feedback">
                                                <div *ngIf="f.formGroupTypeOfBox.errors.required">Type of Box is required</div>
                                            </div>
                                    </mat-form-field>
                            </div>
                        </div>
                    </div> -->
                 
                  <div class="form-group form-group-sm col-sm-12">
                        <div class="row">
                            <label for="supplierAddress" class="col-sm-5 col-form-label">Supplier Address</label>
                            <div class="col-sm-7">
                                    <!-- <input type="textarea" formControlName="formGroupNoOfBoxes" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.formGroupNoOfBoxes.errors }" />
                                    <div *ngIf="submitted && f.formGroupNoOfBoxes.errors" class="invalid-feedback">
                                        <div *ngIf="f.formGroupNoOfBoxes.errors.required">No of Boxes is required</div>                                        
                                    </div> -->
                                    <mat-form-field>
                                            <textarea matInput 
                                                placeholder="supplierAddress" 
                                                formControlName="supplierAddress">
                                            </textarea>
                                    </mat-form-field>
                            </div>
                        </div>
                    </div>
                 
                  <!-- <div class="form-group form-group-sm col-sm-12">
                        <div class="row">
                            <label for="formGroupTotalInKG" class="col-sm-5 col-form-label">Total Weight(KG)</label>
                            <div class="col-sm-7">
                                    <input type="text" readonly formControlName="formGroupTotalInKG" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.formGroupTotalInKG.errors }" />
                                    <div *ngIf="submitted && f.formGroupTotalInKG.errors" class="invalid-feedback">
                                        <div *ngIf="f.formGroupTotalInKG.errors.required">Total Weight(KG) is required</div>
                                    </div>
                            </div>
                        </div>
                    </div>                 -->
                  <div class="form-group text-right col-sm-12">
                      <button [disabled]="loading" class="btn btn-primary">Save Supplier</button>
                  </div>
              </form>
          </div>
        </div>
        </div>